*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color:antiquewhite;
    background-image: url(https://images.unsplash.com/photo-1692589250460-1ea229c9942a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: bottom;
}
#box{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: gray;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: red;
}
#box2{
    width: 100px;
    height: 110px;
    background-color:black;
}
#box3{
    width: 100px;
    height: 110px;
    background-color:yellow ;
}